html {
}

body {
	height: 100%;
	font-family: Helvetica;
	background-color: #efefef;
}

.center {
	margin: 0 auto;
	-webkit-box-shadow: 2px 3px 25px 3px rgba(83,82,89,1);
	-moz-box-shadow: 2px 3px 25px 3px rgba(83,82,89,1);
	box-shadow: 2px 3px 25px 3px rgba(83,82,89,1);
	width: 75%;
	height: 100%;
	.header {
		height: 150px;
		width: 100%;
		background-color: #535259;
		border-bottom: 1px solid #a7c06a;
	}
}