{% extends "base.html" %}

{% block extra_scripts %}
	<script type="text/javascript">
		var deadline = '2016-05-21';
		function getTimeRemaining(endtime){
			var t = Date.parse(endtime) - Date.parse(new Date());
			var days = Math.floor( t/(1000*60*60*24) );
			return {
				'total': t,
				'days': days,
			};
		}
		function initializeClock(id, endtime){
			var clock = $("#" + id.toString());
			var timeinterval = setInterval(function(){
				var t = getTimeRemaining(endtime);
				clock.innerHTML = 'days: ' + t.days
				if (t.total <= 0) {
					clearInterval(timeinterval);
				}
			},1000);
		}
		initializeClock('counter', deadline)
	</script>
{% endblock %}

{% block outernav %}
	<div class='navigation nav-home'>
		{% block nav %}
			{{ super() }}
		{% endblock %}
	</div>
{% endblock %}

{% block content %}
<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0; left: 0px; width: 1300px; height: 700px; overflow: hidden; visibility: hidden;">
	<!-- Loading Screen -->
	<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
		<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
		<div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
	</div>
	<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 700px; overflow: hidden;">
		<div data-p="112.50" style="display: none;">
			<img style="width: 1100px;" data-u="image" src="/static/img/engagement1.jpg" />
		</div>
		<div data-p="112.50" style="display: none;">
			<img style="width: 1300px;" data-u="image" src="/static/img/jands1.jpg" />
		</div>
		<div data-p="112.50" style="display: none;">
			<img style="width: 1300px;" data-u="image" src="/static/img/jands2.jpg" />
		</div>
	</div>
	<!-- Bullet Navigator -->
	<div data-u="navigator" class="jssorb05" style="bottom:16px;right:6px;" data-autocenter="1">
		<!-- bullet navigator item prototype -->
		<div data-u="prototype" style="width:16px;height:16px;"></div>
	</div>
	<!-- Arrow Navigator -->
	<span data-u="arrowleft" class="jssora12l" style="top:123px;left:0px;width:30px;height:46px;" data-autocenter="2"></span>
	<span data-u="arrowright" class="jssora12r" style="top:123px;right:0px;width:30px;height:46px;" data-autocenter="2"></span>
</div>
<div class='box-center'>
	<div class='home-text'>
		<h1 class='jennsam'>
			Jennifer & Samuel
		</h1>
		<h2>
			May 21, 2016
		</h2>
		<div id="counter"></div>
<!-- 		<h4>
			Ceremony and Reception
		</h4> -->
		<p>
			NeXT <br>
			6400 Hazeldean Road<br>
			Stittsville, ON <br>
			K2S 1S4<br>
		</p>
	</div>
</div>
{% endblock %}