{% extends "base.html" %}

{% block scripts %}
	<script src="/static/js/forms.js"></script>
{% endblock %}

{% block content %}
<p id="rsvp-content">
	This is where people will send their rsvps.
</p>
<form action="{{ url_for('rsvp') }}" method="POST">
	{% if error %}<p>{{ error }}</p>{% endif %}
	<label for="name">Your name</label>
	<input type='text' id="name" name="name">
	<div class='response'>
		<h3>Are you attending?</h3>
		<label for='attending'>Wouldn't miss it!</label>
		<input class='radio-button' type='radio' onclick='check()' id='attending' name='attending'>
		<label for='notAttending'>Wish I could</name>
		<input class='radio-button' type='radio' onclick='check()' id='notAttending' name='attending'>
	</div>

	<input type='submit' class="button" value="Submit response">
</form>
{% endblock %}