{% extends "base.html" %}

{% block scripts %}
	<script src="/static/js/forms.js"></script>
{% endblock %}

{% block header %}
<div class='header'>
	<div class="navigation">
		<a href="/">HOME</a>
		<a href="{{ url_for('info') }}">INFORMATION</a>
		<a class='selected' href="{{ url_for('rsvp') }}">RSVP<a>
	</div>
</div>
{% endblock %}

{% block content %}
<div class='box-center'>
	<p id="rsvp-content">
		This is where people will send their rsvps.
	</p>
</div>
<form action="{{ url_for('rsvp') }}" method="POST">
	{% if error %}<p>{{ error }}</p>{% endif %}
	<div class='container box-center'>
		<div class='info'>
			<h3>Who are you?</h3>
			<div class='item'>
				<label for="name">Your name:</label>
				<input type='text' id="name" name="name">
			</div>
			<br>
			<div class='item'>
				<label for="email">Email address:</label>
				<input type='text' id="email" name='email'>
			</div>
			<br>
			<div class='item'>
				<label for="guest">Are you bringing a guest?</label>
				<input type='checkbox' class='button checkbox' onclick='check()' name='guest' id='guest'>
			</div>
			<br>
			<div class='item'>
				<label for="plus_one" class='plus_one'>Guest's name:</label>
				<input type='text' id='plus_one' class='plus_one' name='plus_one'>
			</div>
			<br>
		</div>
		<div class='response'>
			<h3>Are you attending?</h3>
			<div class='item'>
				<label for='attending'>Wouldn't miss it!</label>
				<input class='button' type='radio' onclick='check()' id='attending' name='attending'>
			</div>
			<br>
			<div class='item'>
				<label for='notAttending'>Wish I could</label>
				<input class='button' type='radio' onclick='check()' id='notAttending' name='attending'>
			</div>
		</div>
		<div class='extra'>
			<div class='item'>
				<label for='comments'>Comments:</label>
				<textarea rows='4' cols='50' id='comments' name='comments'></textarea>
			</div>
			<br>
			<div class='item'>
				<label for='restrictions'>Dietary restrictions:</label>
				<textarea rows='4' cols='50' id='restrictions' name='restrictions'></textarea>
			</div>
		</div>

		<input type='submit' class="button" value="Submit response">
	</div>
</form>
{% endblock %}